---
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<div class={`card-base p-3 flex flex-col gap-2 ${className || ''}`}>

    <div class="collapse-item">
        <button
            onclick="this.closest('.collapse-item').classList.toggle('is-active')"
            class="flex items-center justify-between w-full h-10 px-3 font-bold rounded-lg bg-neutral-100 dark:bg-neutral-800 text-black dark:text-white/70 hover:text-neutral-600 dark:hover:text-white transition-all active:scale-98"
        >
            <div class="flex items-center gap-2">
                <Icon name="fa6-solid:rectangle-ad" class="text-[1.25rem]"></Icon>
                <span>展开外部链接</span>
            </div>
            <Icon name="fa6-solid:chevron-down" class="arrow-icon text-[1rem] transition-transform duration-300"></Icon>
        </button>

        <div class="content-box max-h-0 overflow-hidden transition-[max-height] duration-300 ease-in-out">
            <div class="flex flex-col items-center gap-3 p-3 mt-2 text-sm text-neutral-500 border border-dashed border-neutral-300 dark:border-neutral-700 rounded-lg">
                <a href="http://www.fsf.org/associate/support_freedom/join_fsf?referrer=2442" target="_blank">
                    <img src="//static.fsf.org/fsforg/img/thin-image.png" alt="Support freedom" title="Help protect your freedom, join the Free Software Foundation" />
                </a>
                <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
                    <img style="height: 26px" src="https://www.travellings.cn/assets/w.png" alt="开往-友链接力" width="120" class="dark:hidden" />
                    <img style="height: 26px" src="https://www.travellings.cn/assets/b.png" alt="开往-友链接力" width="120" class="hidden dark:block" />
                </a>
                <a href="https://www.boyouquan.com/certificates/afipo.top" title="正在博友圈履约中" target="_blank">
                    <img style="height: 26px;" src="https://www.boyouquan.com/images/logo/performance.svg?domainName=afipo.top" alt=" 正在博友圈履约中" class="dark:hidden"/>
                    <img style="height: 26px" src="https://www.boyouquan.com/images/logo/performance-dark.svg?domainName=afipo.top" alt="正在博友圈履约中" class="hidden dark:block" />
                </a>
            </div>
        </div>
    </div>

</div>

<style is:global>
    .collapse-item.is-active .arrow-icon {
        transform: rotate(180deg);
    }
    .collapse-item.is-active .content-box {
        max-h: 500px;
    }
</style>

