---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<div class={`card-base p-3 flex flex-col gap-3 ${className || ''}`}>
    <div class="flex flex-col items-center gap-3 p-3 text-sm text-neutral-500 border border-dashed border-neutral-300 dark:border-neutral-700 rounded-lg">
        <a href="http://www.fsf.org/associate/support_freedom/join_fsf?referrer=2442" target="_blank">
            <img src="//static.fsf.org/fsforg/img/thin-image.png" alt="Support freedom" title="Help protect your freedom, join the Free Software Foundation" />
        </a>
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
            <img style="height: 26px" src="https://www.travellings.cn/assets/w.png" alt="开往-友链接力" width="120" class="dark:hidden" />
            <img style="height: 26px" src="https://www.travellings.cn/assets/b.png" alt="开往-友链接力" width="120" class="hidden dark:block" />
        </a>
        <a href="https://www.boyouquan.com/certificates/afipo.top" title="正在博友圈履约中" target="_blank">
            <img style="height: 26px;" src="https://www.boyouquan.com/images/logo/performance.svg?domainName=afipo.top" alt=" 正在博友圈履约中" class="dark:hidden"/>
            <img style="height: 26px" src="https://www.boyouquan.com/images/logo/performance-dark.svg?domainName=afipo.top" alt="正在博友圈履约中" class="hidden dark:block" />
        </a>
    </div>
</div>

