---
import { commentConfig } from '@/config'

interface Props {
  path: string
}

const config = {
  ...commentConfig.twikoo,
  el: '#tcomment',
  path: Astro.props.path,
}
---

<div id="tcomment"></div>
<script client:load src="https://cdn.jsdelivr.net/npm/twikoo@1.6.44/dist/twikoo.min.js"
  integrity="sha384-dZ/hSVfTPHuzXyECOYCetAvMd0cgqWxN5Fh+mwo86PV4GdU9xgQ/MNzh/YM/lotR"
  crossorigin="anonymous"></script>
<script is:inline define:vars={{ config }}>
  twikoo.init(config)
</script>
