---
interface Props {
  path: string
}
const { path } = Astro.props

const twikooConfig = {
  envId: 'https://twikoo.iluc.cn/.netlify/functions/twikoo', // Netlify
  lang: 'zh-CN',
  el: '#tcomment',
  path: path,
}

---

<div id="tcomment"></div>

<script 
  src="https://registry.npmmirror.com/twikoo/1.7.13/files/dist/twikoo.min.js" 
  integrity="sha384-tolmjgXFAyQqyrcD+IC55sJypZy4Khcl8sD8ricVii2yGfrLCf0kG1zp3u00K2fp"
  crossorigin="anonymous"
></script>

<script is:inline define:vars={{ twikooConfig }}>
  function initTwikoo() {
    const el = document.querySelector('#tcomment');
    if (el && window.twikoo) {
      window.twikoo.init(twikooConfig);
    }
  }
  initTwikoo();
  document.addEventListener('astro:after-swap', initTwikoo);
</script>

