---
import type { CollectionEntry } from 'astro:content'
import { commentConfig } from '@/config'
//import Waline from './Waline.astro'
import Twikoo from './Twikoo.astro'

interface Props { post: CollectionEntry<'posts'> }
const { slug, data } = Astro.props.post
---
{data.comments !== false && commentConfig.twikoo?.serverURL && (
  <div class="card-base p-6 mt-6">
    <Twikoo path={`/posts/${slug}`} />
  </div>
)}

