---
---
<!-- NeteaseMiniPlayer -->

<div 
	class="netease-mini-player"
	data-playlist-id="17610147552"
	data-embed="false"
	data-position="bottom-right"
	data-lyric="true"
	data-theme="auto"
	data-default-minimized="true">
</div>

<!-- 本地文件引用 -->
<!-- 20260122:备用，不再使用
<link
	rel="stylesheet"
	href="/NMP/netease-mini-player-v2.css" />
<script is:inline
	src="/NMP/netease-mini-player-v2.js">
</script>
-->

<!-- 官网api引用 -->
<link
	rel="stylesheet"
	href="https://api.hypcvgm.top/NeteaseMiniPlayer/netease-mini-player-v2.css" />
<script is:inline
	src="https://api.hypcvgm.top/NeteaseMiniPlayer/netease-mini-player-v2.js">
</script>
