---
---
<!-- NeteaseMiniPlayer -->

<div 
	class="netease-mini-player"
	data-playlist-id="17610147552"
	data-embed="false"
	data-position="bottom-right"
	data-lyric="true"
	data-theme="auto"
	data-default-minimized="true">
</div>

<link
	rel="stylesheet"
	href="/NMP/netease-mini-player-v2.css" />
<script is:inline
	src="/NMP/netease-mini-player-v2.js">
</script>

