---
// Netease Mini Player
---
<div
  class="netease-mini-player"
  data-playlist-id="14273792576"
  data-embed="false"
  data-position="bottom-right"
  data-lyric="true"
  data-theme="auto">
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/numakkiyu/NeteaseMiniPlayer@main/netease-mini-player.css" />
<script
  src="https://cdn.jsdelivr.net/gh/numakkiyu/NeteaseMiniPlayer@main/netease-mini-player.js">
</script>

