---
import { commentConfig } from '@/config'
interface Props { path: string }
const cfg = {
  ...commentConfig.waline,
  el: '#waline',
  path: Astro.props.path,
  dark: 'html.dark',
  wordLimit: [2, 300],
}
---
<div id="waline" class="w-full mt-8"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@3/dist/waline.css" />
<script define:vars={{ cfg }} type="module">
  import { init } from 'https://unpkg.com/@waline/client@3/dist/waline.js';
  init(cfg);
</script>

